a:link, a:visited {
    background-color: #f44336;
    padding: 18px 32px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;    
}

a:hover, a:active {
    background-color: red;
}

a.first:link, a.first:visisted {
    background-color: white;
    border: 2px solid green;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.first:hover, a.first:active{
    background-color: green;
    color: white;
}
/* is now working check */